html {
    font-family: 'Bree Serif', serif;
}

:root {
    color: #1c8ad3;  /* default text color */
    --random-color: #420;
}


body {
    display: flex;            /* establish flex container */
    flex-direction: column;   /* stack your “site” elements vertically */
    justify-content: center;  /* center them top↕bottom */
    align-items: center;      /* center them left↔right */
}

footer {
    display: flex;
    justify-content: center;
}


.header-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
/* tablet and up: side by side */
@media (min-width: 600px) {
    .header-description {
        flex-direction: row;
        text-align: left;
    }
}

/* fixing my group logo so that it deletes on mobile*/
.group-logo {
    display: none;
}

/* only show if screen is big enough for it*/
@media (min-width:600px) {
    .group-logo {
        display: flex;
        justify-content: center;
    }
}

header {
    background-color: #cfe2ef; /* nice sky blue background for the header */
}

@supports (color: color(display-p3 0 0 0)) {
    :root {
      color: color(display-p3 0.69 0.48 0.96); /* default text color if it is supported*/
    }
  }


nav {
    color: var(--random-color, #1c8ad3);
}

#meeting-title {
    color: #d79f11; /* meeting title color */
}

#header-description {
    color: hsl(46, 98%, 25%); /* header description color */
}

#attendance {
    color: rgb(9, 86, 35); /* attendance all color */
}

#agenda {
    color: navy; /* agenda all color */
}

li {
    /* customizing my list elements*/
    height: fit-content;
    width: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10mm;
    padding-right: 1cm;

    border-style: double;
    border-color: var(--random-color, #420);
    border-width: 0.05in;
    border-radius: 5px;

    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;

}

.finished-item {
    /* designating items as completed in a list*/
    color: #420696;
    text-decoration: line-through;
    text-align: left;
}

.finished-item:hover {
    /* getting rid of strikethrough on hover */
    text-decoration: none;
}

/* centering all my headings*/
h2,
h3 {
  text-align: center;
  margin: 1rem auto;
}
  

p {
    /* adjusted paragraph elements */
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    border-style: dashed;
    border-color: var(--random-color, #420);
    border-width: 0.05in;
    border-radius: 5px;
    max-width: fit-content;
}

.block-class {
    /* blocking out the paragraphs */
    display: block;
    margin: auto;
    border-style: solid;
    border-color: var(--random-color, #420);
    border-width: 0.05in;
    border-radius: 1px;
    padding: 2rem;
    background-color: rgb(152, 244, 178);
}

.inline-block {
    /* adjustment to footnotes for the most part*/
    display: inline-block;
    background: rgb(228, 236, 243);
    border-style: groove;
}

#logo {
    max-width: 15rem;
    min-width: 3rem;
    max-height: auto;
}

/* customizing my button behavior--color changes on click*/
.button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(244, 244, 10);
}

.button-box:active {
    background-color: rgb(19, 39, 141);
}

/* fixing my link back to the top of the page*/
#top-link {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;      
    background: rgb(25, 33, 26);
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    text-decoration: none;
    color: #dac617;
  } 

#top-link:hover {
    color: pink;
}
  
footer { /* don't want to move footer*/
    position: static;
}

/* tablet devices*/
.row-list { 
    flex-direction: column; 
    gap: 0.5rem; 
}

@media (min-width: 600px) {

    /* making a row with my list */
    .row-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }

}

/* making a column with my list */
.col-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

/* making a grid with my list */
.grid-list {
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* column definitions*/
    row-gap: 0.5rem;
    column-gap: 0.1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
